# sim plan

* for every round
  * procedure?
        * if yes: 
            * offer to random resident (and choose intern who would have gotten it either way for log)
                * if accepts: increment and log to both
                * else: log miss only
        * else
            * log missed procedure0
    *

# first attempt with no probability:

In [74]:
from collections import namedtuple

import numpy as np
import pandas as pd
from icecream import ic

In [75]:
# custom datatype for procedure offer logs
Procedure_Outcome = namedtuple(
    "Procedure_Outcome",
    [
        "day",
        "senior",
        "senior_prior_procedures",
        "intern",
        "intern_prior_procedures",
        "nth_procedure_opportunity_of_the_day",
        "performed",
    ],
)

In [76]:
residents = pd.read_excel("residents.xlsx")
residents

     name training_level  paracentesis_completed
0    R2 1         senior                       0
1    R2 2         senior                       0
2    R2 3         senior                       0
3    R2 4         senior                       0
4    R2 5         senior                       0
5    R2 6         senior                       0
6    R2 7         senior                       0
7    R2 8         senior                       0
8    R2 9         senior                       0
9   R2 10         senior                       0
10   R3 1         senior                       5
11   R3 2         senior                       2
12   R3 3         senior                       3
13   R3 4         senior                       1
14   R3 5         senior                       0
15   R3 6         senior                       0
16   R3 7         senior                       0
17   R3 8         senior                       0
18   R3 9         senior                       0
19  R3 10         senior                       0
20   R1 1         intern                       0
21   R1 2         intern                       1
22   R1 3         intern                       0
23   R1 4         intern                       0
24   R1 5         intern                       0
25   R1 6         intern                       0
26   R1 7         intern                       0
27   R1 8         intern                       0
28   R1 9         intern                       0
29  R1 10         intern                       0

In [77]:
seniors = residents.training_level == "senior"
interns = residents.training_level == "intern"

In [78]:
days = 30
signoff_threshold = 1
signed_off_avidity = 0.8
not_signed_off_avidity = 0.1

outcome_log = list()


for day in range(days):
    # TODO: determine number offered (poisson)
    procedure_opportunity_today = 2  # artificial for testing
    for procedure_opportunity in range(procedure_opportunity_today):

        selected_senior = residents[seniors].sample().name.values[0]
        selected_intern = residents[interns].sample().name.values[0]

        if (
            residents.loc[
                residents.name.isin([selected_senior, selected_intern]),
                "paracentesis_completed",
            ]
            >= signoff_threshold
        ).any():
            avidity = signed_off_avidity
        else:
            avidity = not_signed_off_avidity

        performed = None

        if np.random.rand() <= avidity:
            senior_prior_procedures = residents.loc[
                residents.name == selected_senior, "paracentesis_completed"
            ].values[0]

            residents.loc[
                residents.name == selected_senior, "paracentesis_completed"
            ] += 1

            intern_prior_procedures = residents.loc[
                residents.name == selected_intern, "paracentesis_completed"
            ].values[0]

            residents.loc[
                residents.name == selected_intern, "paracentesis_completed"
            ] += 1
            performed = True
        else:
            performed = False

        today_outcome = Procedure_Outcome(
            day=day,
            senior=selected_senior,
            senior_prior_procedures=senior_prior_procedures,
            intern=selected_intern,
            intern_prior_procedures=intern_prior_procedures,
            nth_procedure_opportunity_of_the_day=procedure_opportunity,
            performed=performed,
        )
        outcome_log.append(today_outcome)

In [79]:
outcomes = pd.DataFrame(outcome_log)
outcomes

,day,senior,senior_prior_procedures,intern,intern_prior_procedures,nth_procedure_opportunity_of_the_day,performed
0,0,R2 3,5,R1 9,13,0,False
1,0,R2 7,5,R1 8,13,1,False
2,1,R3 1,5,R1 5,0,0,True
3,1,R2 4,5,R1 4,0,1,False
4,2,R2 5,5,R1 6,0,0,False
5,2,R3 10,5,R1 4,0,1,False
6,3,R2 5,5,R1 7,0,0,False
7,3,R2 4,0,R1 2,1,1,True
8,4,R3 2,2,R1 7,0,0,True
9,4,R3 8,2,R1 10,0,1,False
10,5,R2 8,2,R1 8,0,0,False
11,5,R3 6,0,R1 5,1,1,True
12,6,R2 5,0,R1 2,2,0,True
13,6,R3 1,6,R1 10,0,1,True
14,7,R2 8,6,R1 6,0,0,False
15,7,R2 5,6,R1 2,0,1,False
16,8,R3 5,6,R1 6,0,0,False
17,8,R2 3,6,R1 6,0,1,False
18,9,R2 2,6,R1 4,0,0,False
19,9,R3 10,6,R1 8,0,1,False
20,10,R2 1,6,R1 3,0,0,False
21,10,R3 6,1,R1 4,0,1,True
22,11,R2 6,0,R1 2,3,0,True
23,11,R2 5,1,R1 7,1,1,True
24,12,R2 5,2,R1 1,0,0,True
25,12,R3 9,0,R1 4,1,1,True
26,13,R3 7,0,R1 1,1,0,True
27,13,R2 1,0,R1 3,1,1,False
28,14,R2 8,0,R1 9,1,0,False
29,14,R2 4,1,R1 6,0,1,True
30,15,R3 1,7,R1 5,2,0,True
31,15,R3 7,7,R1 4,2,1,False
32,16,R3 7,1,R1 4,2,0,True
33,16,R2 8,1,R1 4,2,1,False
34,17,R3 1,8,R1 9,0,0,True
35,17,R2 2,0,R1 9,1,1,True
36,18,R2 1,0,R1 3,1,0,False
37,18,R3 1,9,R1 3,0,1,True
38,19,R3 5,0,R1 5,3,0,True
39,19,R3 1,10,R1 6,1,1,True
40,20,R2 7,0,R1 1,2,0,True
41,20,R3 9,1,R1 7,2,1,True
42,21,R3 4,1,R1 1,3,0,True
43,21,R2 4,2,R1 6,2,1,True
44,22,R2 2,2,R1 7,2,0,False
45,22,R3 3,2,R1 4,2,1,False
46,23,R3 2,2,R1 4,2,0,False
47,23,R3 5,1,R1 7,3,1,True
48,24,R3 9,2,R1 1,4,0,True
49,24,R3 4,2,R1 7,4,1,True
50,25,R2 9,0,R1 10,1,0,True
51,25,R2 8,0,R1 10,2,1,True
52,26,R3 2,3,R1 4,3,0,True
53,26,R3 5,2,R1 6,3,1,True
54,27,R3 7,2,R1 1,5,0,True
55,27,R2 3,0,R1 2,4,1,True
56,28,R2 8,1,R1 8,0,0,True
57,28,R2 7,1,R1 2,5,1,True
58,29,R3 6,1,R1 10,5,0,False
59,29,R3 7,1,R1 9,5,1,False

In [80]:
outcomes.performed.sum() / len(outcomes)

np.float64(0.5833333333333334)